@import "tailwindcss";

@font-face{
  font-family: font1;
  src: url('../public/font/Lausanne-300.woff2');
}
@font-face{
  font-family: font2;
  src: url('../public/font/Lausanne-500.woff2');
}
body{
  background: black;
}
.moveX{
animation-name: moveAnimation;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes moveAnimation {
  from{
    transform: translate(0);
  }
  to{
    transform: translateX(-100%);
  }
}